body {
	background: #232323;
}

button {
	background: white;
}

.square {
	width: 30%;
	height: 200px;
	margin: 1.66%;
	background: black;
}

#boxes {
	max-width: 700px;
	margin: 0 auto;
}

#header {
	background: blue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#bar {
	background: white;
	height: 30px;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: black;
}

.selected {
	background: blue;
}